@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    background-color: #F2F2F2;
}

.container {
    background-color: #FFFFFF;
    display: flex;
    min-height: 100%;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.navigation-link {
    position: relative;
    font-size: 20px;
    line-height: 24px;
    color: inherit;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    display: block;
    padding: 20px 16px;
}

.navigation-user .navigation-link {
    min-width: 20px;
    min-height: 20px;
}

.button-small {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    display: inline-block;
}

.wrapper-hero-image {
    background-image: url("../images/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-top: 51px;
    padding-bottom: 82px;
}

.hero-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    max-width: 660px;
    margin: auto;
    margin-bottom: 25px;
}

.hero-text {
   text-align: center;
   max-width: 660px;
   margin: auto;
}

.wrapper-hero-text {
    padding-top: 69px;
    padding-bottom: 69px;
}

.block-type-1 {
    color: #FFFFFF;
    background-color: #82B3D3;
}

.advantages-item-description {
    font-size: 18px;
    line-height: 21px;
    margin: 0 85px 102px 85px;
}

.service-item-description {
    font-size: 18px;
    line-height: 21px;
    margin: 0 85px 81px 85px;
}

.block-house p {
    margin: 0 113px 81px 113px;
}

.block-present p {
    margin: 0 101px 81px 101px;
}

.advantages-subtitle {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 102px;
    margin-bottom: 62px;
    position: relative;
}

.service-subtitle {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 183px;
    margin-bottom: 30px;
}

.block-type-2 {
    background-color: rgba(131, 179, 211, 0.12);
}

.block-type-3 {
    background-color: rgba(131, 179, 211, 0.2);
}

.service, .selection, .advantages {
    text-align: center;
}

.service-title, .selection-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.service-title {
    margin: auto;
    margin-bottom: 20px;
    margin-top: 64px;
    max-width: 505px;
}

.selection-title {
   margin: 0;
   margin-bottom: 20px;
}

.selection-description {
    margin: 0;
    margin-bottom: 54px;
}

.servis-backgrond {
    background-color: rgba(131, 179, 211, 0.12);
}

.button-big {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 4px;
    border: 0;
    display: inline-block;
}

.subscription {
    text-align: center;
    color: #FFFFFF;
    background-color: #000000;
    background-image: url("../images/subscription.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.subscription-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
}

.subscription-description {
    margin: 0;
    width: 475px;
    margin: auto;
    margin-bottom: 54px;
}

.service-description {
    max-width: 505px;
    margin: auto;
    margin-bottom: 64px;
}

::placeholder {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.button-catalog-yes {
    width: 191px;
    text-align: center;
    padding: 8px 0;
    margin-bottom: 32px;
}

.contacts-phone {
    font-size: 40px;
    line-height: 40px;
    color: inherit;
    text-decoration: none;
    width: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts-phone:hover {
    color: #756157;
}

.contacts-phone:focus {
    color: rgba(117, 97, 87, 0.3);
}

.inner-header {
    color: white;
    background-color: #000000;
    background-image: url("../images/filtr.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
}

.breadcrumbs-link {
    font-size: 16px;
    line-height: 21px;
    color: inherit;
    text-decoration: none;
    display: block;
    min-width: 12px;
    min-height: 21px;
    text-align: center;
}

.go-home {
    background-image: url(../images/home.svg);
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: center;
}

.breadcrumbs-item:not(:last-child)::after {
    width: 7px;
    height: 100%;
    background-image: url(../images/Arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    display: block;
}

.breadcrumbs-item {
    display: flex;
    gap: 10px;;
}

.catalog-filter-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.catalog-filter-item {
    font-size: 18px;
    line-height: 23px;
}

.button-catalog-no {
    width: 191px;
    text-align: center;
    padding: 8px 0;
}

.catalog-filter-result-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    width: 338px;
    margin: 0;
}

.home-card-item {
    color: #333333;
}

.home-card-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #000000;
    margin: 0;
}

.home-card-rating {
    background: #F2F2F2;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 9px 0 8px 0;
}

.pagination-link {
    background-color: #82B3D3;
    color: white;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.pagination-link:hover {
    background-color: #68A2CA;
}

.pagination-link:focus {
    background-color:#82B3D3;
    color: rgba(255, 255, 255, 0.3);
}

.pagination-ellipses {
    background-color: #FFFFFF;
    color: #000000;
}

.pagination-current {
    background-color:#F2F2F2;
    color: #000000;
}

.pagination-current:hover {
    background-color:#F2F2F2;
}

.pagination-current:focus {
    background-color:#F2F2F2;
}

.subscription-catalog {
    text-align: center;
}

.subscription-description-catalog {
    color: #333333;
}

.main-container {
    flex-grow: 1;
}

.navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.navigation-list {
    width: 400px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
}

.navigation-user {
    max-width: 300px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
}

.logo-header {
    margin-right: 30px;
    width: 138px;
    height: 64px;
    text-decoration: none;
    position: relative;
}

.logo-header img {
    position: absolute;
    z-index: 2;
}

.logo-hero {
    display: block;
    margin: 0 auto;
}

.advantages-item,  .service-item {
    display: flex;
}

.block-total {
    width: 400px;
}

.advantages-picture {
    display: block;
}

.advantages-image {
    display: block;
}

.advantages-list, .service-list, .social-list, .home-list, .pagination {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.selection-wrapper {
    width: 600px;
    margin: 96px auto;
}

.subscription-wrapper {
    width: 684px;
    margin: 0 auto;
    padding-top: 96px;
    padding-bottom: 104px;
}

.page-footer-container {
    display: flex;
    width: 1060px;
    margin: 0 auto;
    padding: 45px 0 35px 0;
}

.social-list {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

.social-item {
    width: 48px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-link {
    width: 100%;
    display: block;
    position: relative;
}

.social-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: #82B3D3;
}

.htmlacademy-link {
    display: block;
    width: 140px;
    height: 50px;
    position: relative;
}

.catalog-filter {
    display: flex;
    justify-content: space-between;
}

.inner-header-wrapper, .catalog-filter-result-wrapper {
    width: 1060px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 60px;
}

.catalog-filter-group {
    width: 150.43px;
}

.catalog-filter-list {
    margin: 0;
    padding: 0;
}

.catalog-filter-group {
    margin: 0;
    padding: 0;
}

.button-catalog {
    width: 191px;
}

.price-wrapper {
    width: 288px;
}

.type-result {
    display: flex;
    margin-bottom: 40px;
}

.select-control {
    flex-grow: 1;
    margin-left: 200px;
    margin-right: 70px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    padding-left: 20px;
    appearance: none;
    background-image: url(../images/select-arrow.svg);
    background-repeat: no-repeat;
    background-size: 12px 7px;
    background-position: right 21px center ;
    padding-right: 40px;
}

.select-control:hover {
    border-color: #68A2CA;
}

.select-control:focus {
    border-color: #3F5E72;
    outline: none;
}

.select-control:disabled {
    color: rgba(255, 255, 255, 1);
}

.view {
    max-width: 160px;
    display: flex;
    gap: 8px;
}

.inner-header-title {
    margin: 0;
}

.page-header {
    display: flex;
    padding: 0 70px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
}

.service-list {
    display: flex;
}

.inner-header-title {
    margin-top: 0;
    margin-bottom: 8px;
}

.breadcrumbs {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
}

.pagination {
    display: flex;
    margin-top: 80px;
    gap: 8px;
}

.pagination-item {
    display: flex;
    width: 60px;
    height: 60px;
}
/*
 вариант с грид-ареа */

/* .home-card-item {
    display: grid;
    grid-template-columns: 140px, 140px;
    grid-template-areas:
    "card-image card-image  "
    "card-title card-title "
    "card-type card-price  "
    "card-button card-select-button  "
    "home-star card-rating ";
    row-gap: 16px;
    column-gap: 20px;
    padding: 20px;
}

.card-image {
    grid-area: card-image;
}

.home-card-title {
    grid-area: card-title;
}

.home-card-type {
    grid-area: card-type;
}

.home-card-price{
    grid-area: card-price;
    justify-self: right;

}

.home-card-button {
    grid-area: card-button;
}

.home-card-select-button {
    grid-area: card-select-button;
}

.home-star {
    grid-area: home-star;
}

.home-card-rating {
    grid-area: card-rating;
} */

.home-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.home-card-image {
    display: block;
}

.home-card-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 16px;
    column-gap: 20px;
    padding: 20px;
}

.card-image {
    grid-column: 1/-1;
}

.home-card-title {
    grid-column: 1/-1;
}

.home-card-type, .home-card-button,.home-star {
    grid-column: 1/2;
}

.home-card-select-button, .home-card-rating {
    grid-column: 2/3;
}

.home-card-price {
    grid-column: 2/3;
    justify-self: right;
}

.navigation-button {
   margin-right: 20px;
   padding: 8px 34px;
}

.navigation-search {
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
}

.navigation-like {
    background-image: url(../images/heart.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    z-index: 25;
    position: relative;
}

.navigation-like span {
    font-size: 10px;
    line-height: 10px;
    color: white;
    font-weight: 400;
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin-top: 16px;
    margin-right: 9px;
}

.block-total {
    background-repeat: no-repeat;
    background-position: center 81px;
    background-size: 75px 72px;
}

.block-eat {
    background-image: url(../images/advantages/food.svg);
}

.block-house {
    background-image: url(../images/advantages/house.svg);
}

.block-present {
    background-image: url(../images/advantages/souvenirs.svg);
}

.selection-button {
    padding: 8px 50px;
}

.subscription-form {
    display: flex;
    justify-content: center;
}

.subscription-button {
    width: 232px;
    border-radius: 0 4px 4px 0;
    border: 0;
    text-align: center;
    padding: 8px 0;
  }

  .enter-e-mail {
    width: 452px;
    border-radius: 4px 0 0 4px;
    border: 0;
    padding: 0 0 0 20px;
 }

 .enter-e-mail-background {
    background-color: #F2F2F2;
 }

 .home-card-button, .home-card-select-button {
    text-align: center;
    padding: 8px 0;
}

.home-star {
    display: flex;
    align-items: center;
}

.button-view {
    width: 48px;
    height: 48px;
    border-radius: 4px;
    border: 2px solid #E5E5E5;
}

.button-view:hover {
    border-color: #000;
}

.button-view:focus {
    border-color: #000;
    outline: none;
}

.view-table {
    background-image: url(../images/view/View1.svg);
    background-size: 16px 14px;
    background-repeat: no-repeat;
    background-position: center;
}

.view-slide {
    background-image: url(../images/view/View2.svg);
    background-size: 16px 14px;
    background-repeat: no-repeat;
    background-position: center;
}

.view-list {
    background-image: url(../images/view/View3.svg);
    background-size: 16px 14px;
    background-repeat: no-repeat;
    background-position: center;
}

.button-view-current {
    border-color: black;
}

.line-type-1::after {
    width: 60px;
    height: 2px;
    background-color: #FFFFFF;
    opacity: 30%;
    position: absolute;
    content: "";
    bottom: -32px;
    left: 50%;
    margin-left: -30px;
}

.line-type-2::after {
    width: 60px;
    height: 2px;
    background-color: #000000;    ;
    opacity: 30%;
    position: absolute;
    content: "";
    bottom: -32px;
    left: 50%;
    margin-left: -30px;
}

.htmlacademy-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: #000;
}

.htmlacademy-icon:hover {
    color: #756157;
}

.htmlacademy-icon:focus {
    color: rgba(117, 97, 87, 0.3);
}

.line-type-1, .line-type-2 {
    position: relative;
}

.navigation-like::before {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #68B738;
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin-top: 11px;
    margin-right: 4px;
    content: "";
}

.button-brouwn {
    background-color: #756157;
}

.button-brouwn:hover {
    background-color: #615048;
}

.button-brouwn:focus {
    background-color: #756157;
    color: rgba(255, 255, 255, 0.3);
}

.button-brouwn:disabled, .button-brouwn:disabled {
    background-color: #E5E5E5;
}

.button-blue {
    background-color: #82B3D3;
}

.button-blue:hover {
    background-color: #68A2CA;
}

.button-blue:focus {
    background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.3);
}

.button-opacity {
    background: none;
}

.button-opacity:hover {
    color: rgba(255, 255, 255, 0.3);
}

.button-opacity:focus {
   border: 3px solid #83B3D3;
   outline: none;
}

.button-opacity:disabled {
    color: rgba(255, 255, 255, 1);
}

.social-icon:hover {
    fill: #68A2CA;
}

.social-icon:focus {
    fill: rgba(104, 162, 202, 0.3);
}

.navigation-link-current::after {
    position: absolute;
    height: 2px;
    background-color: #756257;
    content:"";
    bottom: 0;
    right: 16px;
    left: 16px;
}

.navigation-link-current {
    position: relative;
}
